@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

#background-image {
  /* Credits: BGJAR.COM (https://bgjar.com/animated-shape) */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1753%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1754)'%3e%3c/rect%3e%3cpath d='M119.894%2c1057.211C194.805%2c1059.029%2c281.488%2c1057.44%2c319.524%2c992.878C357.882%2c927.771%2c317.778%2c850.629%2c280.24%2c785.046C242.352%2c718.851%2c196.087%2c647.544%2c119.894%2c644.102C39.402%2c640.466%2c-29.357%2c698.449%2c-67.675%2c769.328C-104.083%2c836.675%2c-105.424%2c919.436%2c-63.631%2c983.58C-25.065%2c1042.772%2c49.268%2c1055.497%2c119.894%2c1057.211' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M425.086%2c382.41C482.867%2c380.927%2c523.628%2c333.173%2c553.053%2c283.423C583.206%2c232.443%2c607.105%2c172.743%2c580.35%2c119.9C551.451%2c62.822%2c488.9%2c26.119%2c425.086%2c30.68C367.043%2c34.828%2c331.627%2c88.419%2c304.027%2c139.648C278.301%2c187.398%2c261.011%2c241.757%2c285.216%2c290.296C311.918%2c343.841%2c365.272%2c383.945%2c425.086%2c382.41' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M899.4 1030.86 a290.11 290.11 0 1 0 580.22 0 a290.11 290.11 0 1 0 -580.22 0z' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1192.61 706.97 a198.09 198.09 0 1 0 396.18 0 a198.09 198.09 0 1 0 -396.18 0z' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1118.639%2c1334.139C1210.831%2c1336.06%2c1303.517%2c1294.378%2c1346.418%2c1212.754C1387.056%2c1135.435%2c1354.882%2c1045.684%2c1309.462%2c971.074C1266.306%2c900.182%2c1201.475%2c843.723%2c1118.639%2c838.586C1026.148%2c832.85%2c928.419%2c864.418%2c881.891%2c944.56C835.213%2c1024.96%2c858.446%2c1124.146%2c906.727%2c1203.594C952.907%2c1279.585%2c1029.736%2c1332.287%2c1118.639%2c1334.139' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M253.8868574792374 810.147207871624L290.30085837862043 664.0986273506212 53.020987147424705 682.5019162620481z' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M21.35 73.37 a353.76 353.76 0 1 0 707.52 0 a353.76 353.76 0 1 0 -707.52 0z' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M543.71 1054.29 a275.38 275.38 0 1 0 550.76 0 a275.38 275.38 0 1 0 -550.76 0z' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1575.307%2c1081.367C1664.879%2c1083.296%2c1749.123%2c1033.691%2c1791.898%2c954.969C1832.943%2c879.432%2c1820.959%2c787.241%2c1774.393%2c714.977C1731.61%2c648.584%2c1654.187%2c622.899%2c1575.307%2c618.85C1486.432%2c614.288%2c1383.956%2c616.723%2c1337.365%2c692.544C1289.462%2c770.5%2c1326.536%2c867.93%2c1374.295%2c945.974C1419.491%2c1019.829%2c1488.741%2c1079.502%2c1575.307%2c1081.367' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M643.734%2c797.546C686.034%2c801.302%2c731.653%2c783.385%2c750.521%2c745.341C768.116%2c709.864%2c745.105%2c670.767%2c722.86%2c638.004C704.082%2c610.346%2c677.15%2c589.035%2c643.734%2c588.06C608.568%2c587.034%2c573.283%2c602.395%2c556.186%2c633.142C539.482%2c663.181%2c549.261%2c698.566%2c565.416%2c728.904C582.904%2c761.744%2c606.674%2c794.255%2c643.734%2c797.546' fill='rgba(255%2c 255%2c 255%2c 0.09)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1753'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1754'%3e%3cstop stop-color='rgba(24%2c 71%2c 119%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 122%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#welcome {
  font-weight: 300;
  font-size: 4em;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#category-selector {
  font-weight: 300;
  font-size: 2em;
}

.categories {
  font-weight: 400;
  font-size: 1.5em;
  margin-right: 100px;
}


.categories::after{
  content: "";
  height: 2px;
  background-color: white;
  width: auto;
  display: block;
  margin: auto;
}

#button-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#button-row-1, #button-row-2, #button-row-3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

button {
  font-size: 1.5em;
  padding: 5px 10px;
  color: white;
  background-color: rgba(0, 221, 255, 0.25);
  border: none;
  cursor:pointer;
}

.button:hover {
  background-color: rgba(0, 221, 255, 0.3);
}

.button:active {
  background-color: rgba(0, 194, 224, 0.3);
}

.buttons{
  display: flex;
  gap: 10px
}

.no-mobile {
  display: none;
}

@media (max-width: 592px) {
  #container,
  .container {
    display: none;
  }

  .no-mobile {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
    line-height: 150%;
    width: 70%;
  }
}
